<h4>{{name}}</h4>
{{#if curRate}}
<p>Price: {{cur_convert price curRate}} {{currency}}</p>
{{else}}
<p>Price: {{price}} {{user.currency}}</p>
{{/if}}
<p>Shipping Provider: {{shipping_provider.shipping_name}}</p>
<p>Product ID: {{id}}</p>