<div class="col-span-12 sm:col-span-2 p-1 flex justify-center">
    <img src="/images/no-image-icon.jpg" alt="no image icon" class="border p-1 w-7/12 sm:w-full object-contain self-center" />
</div>
<div class="col-span-12 sm:col-span-10 self-center pl-3 py-2 sm:py-1">
    <h4>{{name}}</h4>
    {{#if curRate}}
    <p>Price: {{cur_convert price curRate}} {{currency}}</p>
    {{else}}
    <p>Price: {{price}} {{user.currency}}</p>
    {{/if}}
    <p>Shipping Provider: {{shipping_provider.shipping_name}}</p>
    <p>Product ID: {{id}}</p>
    <p>Ordered at: {{history.createdAt}}</p>
</div>