<div class="col-span-12 sm:col-span-2 p-1 flex justify-center">
    <img src="/images/no-image-icon.jpg" alt="no image icon" class="border p-1 w-7/12 sm:w-full object-contain self-center" />
</div>
<div class="col-span-12 sm:col-span-8 md:col-span-7 self-center pl-3 py-2 sm:py-1">
    <h4>{{name}}</h4>
    {{#if curRate}}
    <p>Price: {{cur_convert price curRate}} {{currency}}</p>
    {{else}}
    <p>Price: {{price}} {{user.currency}}</p>
    {{/if}}
    <p>Shipping Provider: {{shipping_provider.shipping_name}}</p>
    <p>Product ID: {{id}}</p>
</div>
<div class="col-span-12 sm:col-span-1 self-center mx-auto sm:mx-0">
    <button id="orderDeleteBtn" class="px-3 py-1 bg-stone-400 text-stone-900 rounded hover:bg-rose-600 hover:text-rose-200">Remove Item</button>
</div>