<h2>List an Item to Sell on the marketplace</h2>

<form id="listItemForm">
    <div>
        <label for="product-name">Product Name:</label>
        <input type="text" id="product-name">
    </div>
    <div>
        <label for="product-description">Description:</label>
        <textarea type="text" id="product-description"></textarea>
    </div>
    <div>
        <label for="product-price">Price:</label>
        <input type="number" id="product-price"></input>
    </div>
    <div>
        <label for="product-SKU">SKU:</label>
        <input type="number" id="product-SKU"></input>
    </div>
    <div>
        <label for="product-origin">Shipping From:</label>
        <input type="text" id="product-origin"></input>
    </div>
    <div>
        <label for="product-category">Product Category:</label>
        <select id="product-category" name="product-category">
            <option value="1">Hardware</option>
            <option value="2">Software</option>
        </select>
    </div>
    <div>
        <label for="product-shipping">Shipping Provider:</label>
        <select id="product-shipping" name="product-shipping">
            <option value="1">UPS</option>
            <option value="2">FEDEX</option>
            <option value="3">DHL</option>
        </select>
    </div>
    <div>
        <label for="product-stock">Stock:</label>
        <input type="number" id="product-stock"></input>
    </div>
    <div>
        <label for="product-length">Length (optional):</label>
        <input type="number" id="product-length"></input>
    </div>
    <div>
        <label for="product-width">Width (optional):</label>
        <input type="number" id="product-width"></input>
    </div>
    <div>
        <label for="product-height">Height (optional):</label>
        <input type="number" id="product-height"></input>
    </div>
    <div>
        <label for="product-dimension-units">Dimension Units (optional):</label>
        <input type="number" id="product-dimension-units"></input>
    </div>
    <div>
        <label for="product-weight">Weight (optional):</label>
        <input type="number" id="product-weight"></input>
    </div>
    <div>
        <label for="product-weight-units">Weight Units (optional):</label>
        <input type="number" id="product-weight-units"></input>
    </div>
    <div>
        {{#each tags}}
        <input type="checkbox" name="{{name}}" id="{{name}}" value="{{id}}">
        <label for="{{name}}">{{name}}</label>
        {{/each}}
    </div>
    <div>
        <button id="listItemBtn" type="button">List Item</button>
    </div>
</form>