<section>
    <div>
        <h2>{{name}}</h2>
        <img src="{{image}}" alt="{{description}}" />
    </div>
    <div>
        <h3>Description:</p>
        <p>{{description}}</p>
    </div>
    <div>
        <h3>Price:</h3>
        <p>{{price}}</p>
        <h3>Stock:</h3>
        <p>{{stock}}</p>
    </div>
    <div>
        <h3>Shipping Information:</h3>
        <div>
            <h4>Shipping Provider:</h4>
            <p>{{shippingProvider}}</p>
            <h4>Weight:</h4>
            <p>{{Weight}}</p>
            <h4>Dimensions:</h4>
            <p>L:{{length}} * W:{{width}} * H:{{height}} {{dimensionsUnit}}</p>
        </div>
    </div>
</section>