<div class="my-3 p-3">
    <h2 class="text-3xl text-center">My Profile</h2>

    <section class="mt-4 mb-6 mx-3 sm:mx-0">
        <h3 class="text-2xl my-2">Verification Status</h3>
        {{#if verified}}
        <i class="fa-solid fa-check">Verified</i>
        {{else if verificationSent}}
        <i class="fa-solid fa-clock">Verification Status Pending</i>
        {{else}}
        <div class="sm:mx-3">
            <p class="text-lg">Enter a message to send to the dEv Commerce Team:</p>
            <input type="text" id="user-email-text" value="{{user.email-text}}" placeholder="Enter Message" />
            <button id="verifyUser" type="button" class="ml-1 bg-stone-200 px-3 py-1 text-stone-900 hover:bg-sky-900 hover:text-sky-200 rounded">
                Verify
            </button>
        </div>
        {{/if}}
    </section>

    <section class="mt-4 mb-6 mx-3 sm:mx-0">
        <h3 class="text-2xl my-2">Post a New Listing</h3>
        <a href="/profile/list-item" class="ml-1 bg-stone-200 px-3 py-1.5 text-stone-900 hover:bg-sky-900 hover:text-sky-200 rounded">
            Add New Item
        </a>
    </section>

    <section class="mt-4 mx-3 sm:mx-0">
        <h3 class="text-2xl my-2">My Existing Listings</h3>
        {{#if products.length}}
        <ul class="p-2 sm:p-3 bg-sky-100">
            {{#each products as |product|}}
            {{>result-list product}}
            {{/each}}
        </ul>
        {{else}}
        <p class="ml-1 text-lg">No item</p>
        {{/if}}
    </section>
</div>

{{#if verified}}

{{else if verificationSent}}

{{else}}
<script src="/javascript/verification.js"></script>
{{/if}}