<div class="my-3 p-3">
    <h2 class="text-3xl">My Profile</h2>

    <section class="mt-3">
        <div>
            <h3>Verification Status</h3>
            {{#if verified}}
            <i class="fa-solid fa-check">Verified</i>
            {{else if verificationSent}}
            <i class="fa-solid fa-clock">Verification Status Pending</i>
            {{else}}
            <p>Enter a message to send to the dEv Commerce Team</p>
            <input type="text" id="user-email-text" value="{{user.email-text}}" placeholder="Enter Message" />
            <button id="verifyUser">Verify</button>
            {{/if}}
        </div>
    </section>

    <section class="mt-3">
        <h3 class="text-2xl my-2">Post a New Listing</h3>
        <button id="newlistingBtn"
            class="ml-1 bg-stone-200 px-3 py-1 text-stone-900 hover:bg-sky-900 hover:text-sky-200 rounded">Add New
            Item</button>
    </section>

    <section class="mt-3">
        <h3 class="text-2xl my-2">My Existing Listings</h3>
        <div>
            {{#if products.length}}
            <ul class="existingListings ml-1 p-1">
                {{#each products as |product|}}
                {{>result-list product}}
                {{/each}}
            </ul>
            {{else}}
            <p class="ml-1 text-lg">No item</p>
            {{/if}}
        </div>
    </section>
</div>

<script src="/javascript/profile.js"></script>

{{#if verified}}

{{else if verificationSent}}

{{else}}
<script src="/javascript/verification.js"></script>
{{/if}}